# Copyright bysssss Corp. All Rights Reserved.

version: '2'

networks:
  basic:

services:
  peer0.samsung1.fabtest13.com:
    container_name: peer0.samsung1.fabtest13.com
    image: hyperledger/fabric-peer:1.3.0
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=net_basic
      - CORE_LOGGING_PEER=info
      - CORE_CHAINCODE_LOGGING_LEVEL=info
      - CORE_PEER_ID=peer0.samsung1.fabtest13.com
      - CORE_PEER_ADDRESS=peer0.samsung1.fabtest13.com:7051
      - CORE_PEER_GOSSIP_SKIPHANDSHAKE=true
      - CORE_PEER_GOSSIP_ORGLEADER=false
      - CORE_PEER_GOSSIP_USELEADERELECTION=true
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer1.samsung1.fabtest13.com:7051
      - CORE_PEER_LOCALMSPID=SamsungMSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/crypto-config/samsung1/peer0/msp
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: peer node start
    ports:
      - 7051:7051
      - 7053:7053
    volumes:
        - /var/run/:/host/var/run/
        - ./configtx/:/etc/hyperledger/configtx
        - ./crypto-config/peerOrganizations/samsung1.fabtest13.com/peers/peer0.samsung1.fabtest13.com/:/etc/hyperledger/crypto-config/samsung1/peer0
        - ./crypto-config/peerOrganizations/samsung1.fabtest13.com/users/:/etc/hyperledger/crypto-config/samsung1/users
    networks:
      - basic

  peer1.samsung1.fabtest13.com:
    container_name: peer1.samsung1.fabtest13.com
    image: hyperledger/fabric-peer:1.3.0
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=net_basic
      - CORE_LOGGING_PEER=info
      - CORE_CHAINCODE_LOGGING_LEVEL=info
      - CORE_PEER_ID=peer1.samsung1.fabtest13.com
      - CORE_PEER_ADDRESS=peer1.samsung1.fabtest13.com:7051
      - CORE_PEER_GOSSIP_SKIPHANDSHAKE=true
      - CORE_PEER_GOSSIP_ORGLEADER=false
      - CORE_PEER_GOSSIP_USELEADERELECTION=true
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.samsung1.fabtest13.com:7051
      - CORE_PEER_LOCALMSPID=SamsungMSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/crypto-config/samsung1/peer1/msp
      - CORE_LEDGER_STATE_STATEDATABASE=CouchDB
      - CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS=couchdb:5984
      - CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME=
      - CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD=
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: peer node start
    ports:
      - '17051:7051'
      - '17053:7053'
    volumes:
        - /var/run/:/host/var/run/
        - ./configtx/:/etc/hyperledger/configtx
        - ./crypto-config/peerOrganizations/samsung1.fabtest13.com/peers/peer1.samsung1.fabtest13.com/:/etc/hyperledger/crypto-config/samsung1/peer1
        - ./crypto-config/peerOrganizations/samsung1.fabtest13.com/users/:/etc/hyperledger/crypto-config/samsung1/users
    depends_on:
      - couchdb
    networks:
      - basic

  couchdb:
    container_name: couchdb
    image: hyperledger/fabric-couchdb:latest
    environment:
      - COUCHDB_USER=
      - COUCHDB_PASSWORD=
    ports:
      - 5984:5984
    networks:
      - basic

  cli:
    container_name: cli
    image: hyperledger/fabric-tools:1.3.0
    tty: true
    environment:
      - GOPATH=/opt/gopath
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=net_basic
      - CORE_LOGGING_LEVEL=info
      - CORE_PEER_ID=cli
      - CORE_PEER_ADDRESS=peer0.samsung1.fabtest13.com:7051
      #- CORE_PEER_ADDRESS=peer1.samsung1.fabtest13.com:7051
      - CORE_PEER_LOCALMSPID=SamsungMSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/crypto-config/samsung1/users/Admin@samsung1.fabtest13.com/msp
      - CORE_CHAINCODE_KEEPALIVE=10
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: /bin/bash
    volumes:
        - /var/run/:/host/var/run/
        - ./configtx/:/etc/hyperledger/configtx
        - ./chaincode/:/etc/hyperledger/chaincode
        - ./crypto-config/peerOrganizations/samsung1.fabtest13.com/users/:/etc/hyperledger/crypto-config/samsung1/users
    networks:
        - basic